@model IEnumerable<WebCMS.Areas.Main.Models.PMfrequencySetModel>
@{
    //Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "PM Frequency Detail";
}

@section JavaScript{
    <link href="@Url.Content("~/Content/Themes/Shared/flexigrid/main3.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.flexigrid.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flexme').flexigrid({
                title: 'PM週期已設定清單',
                width: 1100,
                height: "auto",
                url: '@Url.Action("JsonPMFrequencyDetailList")?tName=HJ-XFA',
                dataType: 'json',
                colModel: [
                    { display: '廠商', name: 'Vendor', width: 40, sortable: false, align: 'center', hide: false },
                    { display: 'Tool ID', name: 'ToolID', width: 60, sortable: false, align: 'center', hide: false },
                    { display: 'Location ID', name: 'LocationID', width: 60, sortable: false, align: 'center', hide: false },
                    { display: '解PM時間', name: 'PMDate', width: 100, sortable: false, align: 'center', hide: false },
                    { display: '週期', name: 'frequency', width: 30, sortable: false, align: 'center', hide: false },
                    { display: '容許值', name: 'tolerance', width: 30, sortable: false, align: 'center', hide: false },
                    { display: '下次PM時間', name: 'PlanPMDate', width: 100, sortable: false, align: 'left', hide: false },
                    { display: '容許起始日期', name: 'ToleranceFrom', width: 100, sortable: true, align: 'left', hide: false },
                    { display: '容許到期日期', name: 'ToleranceTo', width: 100, sortable: false, align: 'left', hide: false },
                    { display: 'PM歷史記錄', name: 'PMHistory', width: 130, sortable: false, align: 'left', hide: false },
                    { display: '設定者', name: 'userlogin', width: 80, sortable: false, align: 'center', hide: false },
                    { display: '時間', name: 'date', width: 100, sortable: false, align: 'left', hide: false },
                ],
                onSuccess: function () {
                    setTimeout("$('.flexme').flexReload();", 30000);
                    $("tr").removeClass("erow");
                    $("tr").each(function () {
                        var Today = new Date();
                        var pt = $(this).find("td").eq(6).text();
                        var st = $(this).find("td").eq(7).text();
                        var tt = $(this).find("td").eq(8).text();
                        var Today1 = Today.getFullYear() + "/" + (Today.getMonth() + 1) + "/" + Today.getDate()
                        //if (st != "") {
                        //alert("今天日期是 " + Today.getFullYear() + " 年 " + (Today.getMonth() + 1) + " 月 " + Today.getDate() + " 日");
                        //alert(Date.parse('2014/06/13').valueOf());
                        //   alert(st.substr(0, 10));
                        //    alert(st.substr(0,10)=="2014/06/13");
                       //}
                        if (Date.parse(st).valueOf() > Date.parse(Today1).valueOf() && Date.parse(tt).valueOf() < Date.parse(Today1).valueOf()) { $(this).css("color", "black"); }
                        else if (Date.parse(st).valueOf() <= Date.parse(Today1).valueOf() && Date.parse(tt).valueOf() >= Date.parse(Today1).valueOf()) { $(this).css("color", "#FFFFFF"); $(this).css("background-color", "#A757A8"); }
                        else if ((Date.parse(st).valueOf() - 604800000) <= (Date.parse(Today1).valueOf()) && Date.parse(st).valueOf() >= (Date.parse(Today1).valueOf())) { $(this).css("color", "#FF0000"); $(this).css("background-color", "#FFFF00"); }
                        else if ((Date.parse(tt).valueOf()) <= (Date.parse(Today1).valueOf())) { $(this).css("color", "#FFFFFF"); $(this).css("background-color", "#FF0000"); }
                    });
                },
                nowrap: false,
                usepager: true,
                useRp: true,
                rp: 100,
                singleSelect: true,
                rpOptions: [5, 10, 15, 20, 30, 50, 100],
            });    
        });
    </script>
    <style>
       input[type="Text"] {
	        width: 120px;
        }

    </style>
}
<h2>PM Frequency Detail</h2>
<table class="flexme">
    <tbody id="test" >
        <tr>
        </tr>
    </tbody>
</table>
<br />
<ul class="ul">
    <li>
        <input type="button" id="btnExport" value="匯出" style="width: 80px" />
    <li>
        <input type="button" value="取消" style="width: 80px" onclick="CloseModelWindow();" /></li>
</ul>
           


