<?xml version="1.0" encoding="utf-8"?>

<!-- 有關使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  -->
  <connectionStrings>
    <add name="Intouch" connectionString="Data Source=192.168.0.103;Initial Catalog=UMC12_P5;Persist Security Info=False; MultipleActiveResultSets=True; User ID=web;Password=archcyber;Connection Timeout=60;connection lifetime=60;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient"/>
    <add name="UMC12_P5ConnectionString" connectionString="Data Source=192.168.0.103;Initial Catalog=UMC12_P5;Persist Security Info=False;User ID=web;Password=archcyber;MultipleActiveResultSets=True;Connect Timeout=60;connection lifetime=60;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add  key="IsRelease" value="1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下面的範例中，"Replace" 轉換將會取代 web.config 檔案
      的整個 <customErrors> 區段。
      請注意，因為在 <system.web> 節點之下 
      只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>